$Color-1:#00FF00;
$Color-2:#8BAF7F;
$Color-3:#DFF8D5;
$Color-4:#004C73;

.App-header {
    text-align: center;

    p {
        font-weight: 700;
        font-size: 64px;
        margin: 10px 0;
    }
}
.App-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .generated-number {
        width: 80vw;
        height: 100px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .generated-number-field {
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            border: none;
            position: relative;
            border-radius: 10px;
            text-align: center;
            font-size: 64px;
            font-family: 'Kanit', sans-serif;

            &:focus {
                outline: none;
            }
        }
        .copy-btn {
            position: absolute;
            right: 0;
            width: 100px;
            height: 100%;
            border-radius: 10px;
            border: none;
            background-color: $Color-3;
        }
    }
}